.Blogs__main {
    padding: 20px;
}

.Blogs__heading {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
}