* {
    box-sizing: border-box;
}

/* .react-reveal {
    animation-fill-mode: none !important;
} */

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Quicksand', Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.clearfix {
    clear: both;
}

h1,h2,h3,h4,h5 {
    font-family: Dosis, Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-family: Dosis, Verdana, Geneva, Tahoma, sans-serif;
    color: #777;
    font-size: 15px;
}

blockquote {
    font-family: Dosis, Verdana, Geneva, Tahoma, sans-serif;
    color: #777;
}

blockquote p {
    margin-bottom: 1em;
    font-size: 21px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.6;
}